@{
    ViewData["Title"] = "Home Page";
}
@model EmprestimoViewModel

@foreach (var emprestimo in Model.Emprestimos)
{
    <div class="container">
        <div class="row">
            <div class="col-sm">
                @emprestimo.Item.Nome
            </div>
            <div class="col-sm">
                @emprestimo.Usuario.Nome
            </div>
            <div class="col-sm">
                @emprestimo.Data_Emprestimo
            </div>
            <div class="col-sm">
                @emprestimo.Data_Devolucao
            </div>           

            <div>
                <a asp-action="DevolverItem" asp-controller="Emprestimo" asp-route-Id="@emprestimo.Id">Devolver Item</a>
            </div>
        </div>
    </div>
}